parameters:
	ignoreErrors:
		-
			message: '#^Trait Vatly\\Laravel\\Billable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Billable.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:vatlyId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:create\(\) has parameter \$items with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:create\(\) has parameter \$payloadOverrides with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:payload\(\) has parameter \$overrides with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:payload\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:withItems\(\) has parameter \$items with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:withMetadata\(\) has parameter \$metadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Property Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:\$items with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Property Vatly\\Laravel\\Builders\\CheckoutBuilder\:\:\$metadata type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/CheckoutBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\SubscriptionBuilder\:\:create\(\) has parameter \$checkoutOptions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/SubscriptionBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\SubscriptionBuilder\:\:getCreateCheckoutPayload\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/SubscriptionBuilder.php

		-
			message: '#^Method Vatly\\Laravel\\Builders\\SubscriptionBuilder\:\:getSubscriptionPayload\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Builders/SubscriptionBuilder.php

		-
			message: '#^Trait Vatly\\Laravel\\Concerns\\ManagesApiClient is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ManagesApiClient.php

		-
			message: '#^Trait Vatly\\Laravel\\Concerns\\ManagesCheckouts is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ManagesCheckouts.php

		-
			message: '#^Trait Vatly\\Laravel\\Concerns\\ManagesCustomer is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ManagesCustomer.php

		-
			message: '#^Trait Vatly\\Laravel\\Concerns\\ManagesOrders is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ManagesOrders.php

		-
			message: '#^Trait Vatly\\Laravel\\Concerns\\ManagesSubscriptions is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ManagesSubscriptions.php

		-
			message: '#^Method Vatly\\Laravel\\Events\\Inbound\\UnsupportedVatlyWebhookCallReceived\:\:__construct\(\) has parameter \$object with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Events/Inbound/UnsupportedVatlyWebhookCallReceived.php

		-
			message: '#^Method Vatly\\Laravel\\Events\\Inbound\\VatlyWebhookCallReceived\:\:__construct\(\) has parameter \$object with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Events/Inbound/VatlyWebhookCallReceived.php

		-
			message: '#^Method Vatly\\Laravel\\Events\\Inbound\\VatlyWebhookCallReceived\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Events/Inbound/VatlyWebhookCallReceived.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$vatly_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Exceptions/CustomerAlreadyCreated.php

		-
			message: '#^Method Vatly\\Laravel\\Exceptions\\CustomerAlreadyCreated\:\:exists\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Exceptions/CustomerAlreadyCreated.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/CustomerAlreadyCreated.php

		-
			message: '#^Method Vatly\\Laravel\\Exceptions\\FeatureUnavailable\:\:toBeImplementedOnApi\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Exceptions/FeatureUnavailable.php

		-
			message: '#^Method Vatly\\Laravel\\Exceptions\\FeatureUnavailable\:\:toBeImplementedOnVatlyLaravelPackage\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Exceptions/FeatureUnavailable.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/Exceptions/FeatureUnavailable.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/IncompleteInformationException.php

		-
			message: '#^Method Vatly\\Laravel\\Exceptions\\InvalidCustomer\:\:notYetCreated\(\) has parameter \$owner with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Exceptions/InvalidCustomer.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/InvalidCustomer.php

		-
			message: '#^Call to an undefined static method Vatly\\Laravel\\Models\\Subscription\:\:handleSubscriptionWasCanceledImmediatelyAtVatly\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Listeners/CancelSubscriptionImmediately.php

		-
			message: '#^Call to an undefined static method Vatly\\Laravel\\Models\\Subscription\:\:handleSubscriptionWasCanceledWithGracePeriodAtVatly\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Listeners/CancelSubscriptionWithGracePeriod.php

		-
			message: '#^Method Vatly\\Laravel\\Listeners\\CancelSubscriptionWithGracePeriod\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Listeners/CancelSubscriptionWithGracePeriod.php

		-
			message: '#^Call to an undefined method Vatly\\Laravel\\Events\\Inbound\\UnsupportedVatlyWebhookCallReceived\:\:vatlyEventName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Listeners/LogUnsupportedVatlyWebhookCallReceived.php

		-
			message: '#^Call to an undefined static method Vatly\\Laravel\\Models\\Subscription\:\:createFromSubscriptionWasStartedAtVatly\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Listeners/StartSubscription.php

		-
			message: '#^Class Vatly\\Laravel\\Models\\Order has PHPDoc tag @method for method create\(\) parameter \#1 \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/Order.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Order\:\:getOwner\(\) should return Vatly\\Fluent\\Contracts\\BillableInterface but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Order.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Order\:\:owner\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\MorphTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Order.php

		-
			message: '#^Call to an undefined method Vatly\\Fluent\\Contracts\\BillableInterface\:\:getMorphClass\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Class Vatly\\Laravel\\Models\\Subscription has PHPDoc tag @method for method create\(\) parameter \#1 \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Subscription\:\:owner\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\MorphTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Subscription\:\:swap\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Subscription\:\:swapAndInvoice\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Method Vatly\\Laravel\\Models\\Subscription\:\:updatePaymentMethodUrl\(\) has parameter \$prefillData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^PHPDoc tag @property has invalid value \(\\Carbon\\Carbon raised_at\)\: Unexpected token "raised_at", expected variable at offset 240 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(array object\)\: Unexpected token "object", expected variable at offset 178 on line 7$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(bool testmode\)\: Unexpected token "testmode", expected variable at offset 203 on line 8$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(int id\)\: Unexpected token "id", expected variable at offset 21 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(string event_name\)\: Unexpected token "event_name", expected variable at offset 44 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(string resource_id\)\: Unexpected token "resource_id", expected variable at offset 75 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(string resource_name\)\: Unexpected token "resource_name", expected variable at offset 107 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^PHPDoc tag @property has invalid value \(string vatly_customer_id\)\: Unexpected token "vatly_customer_id", expected variable at offset 141 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^Strict comparison using \=\=\= between 7 and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Models/VatlyWebhookCall.php

		-
			message: '#^Call to an undefined method Vatly\\Fluent\\Contracts\\BillableInterface\:\:getMorphClass\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Repositories/EloquentOrderRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentOrderRepository\:\:create\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repositories/EloquentOrderRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentOrderRepository\:\:update\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repositories/EloquentOrderRepository.php

		-
			message: '#^Call to an undefined method Vatly\\Fluent\\Contracts\\BillableInterface\:\:getMorphClass\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Repositories/EloquentSubscriptionRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentSubscriptionRepository\:\:create\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repositories/EloquentSubscriptionRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentSubscriptionRepository\:\:update\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repositories/EloquentSubscriptionRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentWebhookCallRepository\:\:cleanUp\(\) should return int but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Repositories/EloquentWebhookCallRepository.php

		-
			message: '#^Method Vatly\\Laravel\\Repositories\\EloquentWebhookCallRepository\:\:record\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repositories/EloquentWebhookCallRepository.php

		-
			message: '#^Result of static method Vatly\\Laravel\\Models\\VatlyWebhookCall\:\:cleanUp\(\) \(void\) is used\.$#'
			identifier: staticMethod.void
			count: 1
			path: src/Repositories/EloquentWebhookCallRepository.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\BaseVatlyCustomerResponse\:\:fromApiResponse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/VatlyApiActions/BaseVatlyCustomerResponse.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/VatlyApiActions/BaseVatlyCustomerResponse.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\CreateVatlyCheckout\:\:execute\(\) has parameter \$filters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/CreateVatlyCheckout.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\CreateVatlyCheckout\:\:execute\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/CreateVatlyCheckout.php

		-
			message: '#^Parameter \#1 \$checkout of static method Vatly\\Laravel\\VatlyApiActions\\CreateVatlyCheckoutResponse\:\:fromApiResponse\(\) expects Vatly\\API\\Resources\\Checkout, Vatly\\API\\Resources\\BaseResource given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/CreateVatlyCheckout.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\CreateVatlyCustomer\:\:execute\(\) has parameter \$filters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/CreateVatlyCustomer.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\CreateVatlyCustomer\:\:execute\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/CreateVatlyCustomer.php

		-
			message: '#^Parameter \#1 \$response of static method Vatly\\Laravel\\VatlyApiActions\\BaseVatlyCustomerResponse\:\:fromApiResponse\(\) expects Vatly\\API\\Resources\\Customer, Vatly\\API\\Resources\\BaseResource given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/CreateVatlyCustomer.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\GetVatlyCheckout\:\:execute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/GetVatlyCheckout.php

		-
			message: '#^Parameter \#1 \$response of static method Vatly\\Laravel\\VatlyApiActions\\GetVatlyCheckoutResponse\:\:fromApiResponse\(\) expects Vatly\\API\\Resources\\Checkout, Vatly\\API\\Resources\\BaseResource given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/GetVatlyCheckout.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/VatlyApiActions/GetVatlyCheckoutResponse.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\GetVatlyCustomer\:\:execute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/GetVatlyCustomer.php

		-
			message: '#^Parameter \#1 \$response of static method Vatly\\Laravel\\VatlyApiActions\\BaseVatlyCustomerResponse\:\:fromApiResponse\(\) expects Vatly\\API\\Resources\\Customer, Vatly\\API\\Resources\\BaseResource given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/GetVatlyCustomer.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\GetVatlySubscription\:\:execute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/GetVatlySubscription.php

		-
			message: '#^Parameter \#1 \$response of static method Vatly\\Laravel\\VatlyApiActions\\GetVatlySubscriptionResponse\:\:fromVatlyResponse\(\) expects Vatly\\API\\Resources\\Subscription, Vatly\\API\\Resources\\BaseResource given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/GetVatlySubscription.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\GetVatlySubscriptionResponse\:\:fromApiResponse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/VatlyApiActions/GetVatlySubscriptionResponse.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/VatlyApiActions/GetVatlySubscriptionResponse.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyApiActions\\SwapVatlySubscriptionPlan\:\:execute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/VatlyApiActions/SwapVatlySubscriptionPlan.php

		-
			message: '#^Parameter \#1 \$response of static method Vatly\\Laravel\\VatlyApiActions\\SwapVatlySubscriptionPlanResponse\:\:fromApiResponse\(\) expects Vatly\\API\\Resources\\Subscription, Vatly\\API\\Resources\\BaseResource\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/VatlyApiActions/SwapVatlySubscriptionPlan.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/VatlyApiActions/SwapVatlySubscriptionPlanResponse.php

		-
			message: '#^Method Vatly\\Laravel\\VatlyHelpers\:\:findBillable\(\) has invalid return type Vatly\\Laravel\\Billable\.$#'
			identifier: return.trait
			count: 1
			path: src/VatlyHelpers.php

		-
			message: '#^PHPDoc tag @return with type Vatly\\Laravel\\Billable\|null is not subtype of native type Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/VatlyHelpers.php
